<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Pull Requests Dashboard Builder</title>
  </head>

  <body>
    <h1>Title</h1>

    <p>Stuff</p>


    <div id="builder-form">
      <div id="step-title">
        <h2>Enter the title for your dashboard</h2>
        <p>You can put whatever you want. Like 'Mobile Squad', or even 'Team Rocket'</p>

        <input type="text" id="dashboard-title" placeholder="title" />

        <button class="next-step" disabled>Next</button>
      </div>
    </div>

    <div id="builder-result">

    </div>


    <button id="build-url">Access your Dashboard</button>

    </main>
  </body>
</html>
