<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Pull Requests Dashboard Builder</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <main role="main">
      <div class="jumbotron">
        <h1 class="display-4">Pull Request Dashboard</h1>
        <p class="lead">
          Do you want a dashboard for your team showing open PRs and stats? Give
          it a try!
        </p>
      </div>

      <input type="text" id="dashboard-title" placeholder="title" />

      <input type="text" id="dashboard-token" placeholder="github token" />

      <div id="orgs-list"></div>
      <div id="users-list"></div>
      <div id="repos-list"></div>
    </main>
  </body>
</html>
