<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Pull Requests Dashboard</title>
</head>

<body>

  <header>
    <div id="team">
      <h1 id="title"></h1>
      <div id="members">
      </div>
    </div>
    <div id="lastweek">
      <h1 id="lastweek-title">Last 7 days</h1>
      <div id="metrics">
        <div id="opened-prs">
          <span>0</span>
          merged PRs
        </div>
        <div id="refused-prs">
          <span>0</span>
          refused PRs
        </div>
        <div id="days-to-merge">
          <span>0</span>
          days to merge
        </div>
      </div>
    </div>
  </header>



  <div id="container">
    <div id="loading" class="">
      <div class="lds-ring">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>

    <div id="error" class="d-none">

    </div>
  </div>
</body>

</html>